<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.AthleteDAO">
    <resultMap id="AthleteInf" type="po.Athlete">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="athID" column="athID"/>
        <result property="no" column="no"/>
        <association property="team" javaType="po.Team">
            <id property="id" column="id"/>
            <result property="name" column="t_name"/>
        </association>
    </resultMap>

    <select id="getAllAthletes" resultMap="AthleteInf">
        SELECT a.*,t.name t_name
        FROM athlete a LEFT JOIN team t ON a.teamid=t.id
    </select>

    <select id="getAthlete" resultType="po.Athlete" parameterType="int">
        SELECT * FROM athlete WHERE id = #{athid}
    </select>
    <select id="getTeamAthletes" resultType="po.Athlete" parameterType="int">
        SELECT * FROM athlete  WHERE athlete.teamid = #{teamid}
    </select>

    <select id="getGroupAthletes" resultType="po.Athlete">
        SELECT a.id,a.name,a.sex,a.age,a.athID,a.no FROM athlete a
        WHERE teamid = #{param1}
        <if test="param2!=-1">
            AND sex = #{param2}
        </if>
        <if test="param3!=-1">
            AND age BETWEEN #{param3} AND #{param4}
        </if>
        ORDER BY a.sex
    </select>

    <select id="getCompAthletes" resultType="po.Athlete" parameterType="int">
        SELECT a.id,a.name,a.sex,a.age,a.athID,a.no
        FROM athlete a LEFT JOIN participate p ON a.id = p.ath_id
        WHERE p.comp_id = #{compid}
    </select>

    <select id="getMaleAthletes" resultType="po.Athlete" parameterType="int" >
       (SELECT *
        FROM athlete a
        WHERE sex = 1
        AND teamid &lt;&gt; #{teamid}
        )
        UNION
        (SELECT *
        FROM athlete a
        WHERE sex = 1
        AND teamid = #{teamid}
        )
    </select>

    <select id="getFemaleAthletes" resultType="po.Athlete" parameterType="int">
        (SELECT *
        FROM athlete a
        WHERE sex = 0
        AND teamid &lt;&gt; #{teamid}
        )
        UNION
        (SELECT *
        FROM athlete a
        WHERE sex = 0
        AND teamid = #{teamid}
        )
    </select>

    <insert id="addAthlete" parameterType="po.Athlete" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO athlete (name,sex,age,athID,teamid) VALUES (#{name},#{sex},#{age},#{athID},#{team.id})
    </insert>

    <delete id="deleteAthlete" parameterType="int">
        DELETE FROM athlete WHERE id=#{athid}
    </delete>

    <update id="updateAthlete" parameterType="po.Athlete">
        UPDATE athlete
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="sex!=-1">
                sex = #{sex},
            </if>
            <if test="age!=-1">
                age = #{age},
            </if>
            <if test="athID!=null">
                athID = #{athID},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateNo">
        UPDATE athlete SET no = #{param2} WHERE id = #{param1}
    </update>

    <update id="updateNoBatch" parameterType="list">
        UPDATE athlete
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="no =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id=#{item.id} then #{item.no}
                </foreach>
            </trim>
        </trim>
        WHERE id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>