<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.CaptainDAO">
    <resultMap id="CaptainInf" type="po.Captain">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="capID" column="capID"/>
        <result property="phone" column="phone"/>
        <association property="team" javaType="po.Team">
            <id property="id" column="id"/>
            <result property="name" column="t_name"/>
        </association>
    </resultMap>

    <select id="getAllCaptains" resultMap="CaptainInf">
        SELECT c.id,c.name,c.phone,c.capID,c.teamid,t.name t_name FROM captain c LEFT JOIN team t ON c.teamid=t.id
    </select>

    <select id="getTeamCaptain" resultType="po.Captain" parameterType="int">
        SELECT c.id,c.name,c.phone,c.capID FROM captain c WHERE c.teamid = #{teamid}
    </select>

    <insert id="addCaptain" parameterType="po.Captain" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO captain (name,phone,capID,teamid) VALUES (#{name},#{phone},#{capID},#{team.id})
    </insert>

    <delete id="deleteCaptain" parameterType="int">
        DELETE FROM captain WHERE id=#{capid}
    </delete>

    <update id="updateCaptain" parameterType="po.Captain">
        UPDATE captain
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="capID!=null">
                capID = #{capID},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>