<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.DoctorDAO">
    <resultMap id="DoctorInf" type="po.Doctor">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="docID" column="docID"/>
        <result property="phone" column="phone"/>
        <association property="team" javaType="po.Team">
            <id property="id" column="id"/>
            <result property="name" column="t_name"/>
        </association>
    </resultMap>

    <select id="getAllDoctors" resultMap="DoctorInf">
        SELECT c.id,c.name,c.phone,c.docID,c.teamid,t.name t_name FROM doctor c LEFT JOIN team t ON c.teamid=t.id
    </select>

    <select id="getTeamDoctors" resultType="po.Doctor" parameterType="int">
        SELECT c.id,c.name,c.phone,c.docID FROM doctor c WHERE c.teamid = #{teamid}
    </select>

    <insert id="addDoctor" parameterType="po.Doctor" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO doctor (name,phone,docID,teamid) VALUES (#{name},#{phone},#{docID},#{team.id})
    </insert>

    <delete id="deleteDoctor" parameterType="int">
        DELETE FROM doctor WHERE id=#{docid}
    </delete>

    <update id="updateDoctor" parameterType="po.Doctor">
        UPDATE doctor
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="docID!=null">
                docID = #{docID},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>