<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.EmployeeDAO">

    <resultMap type="po.Employee" id="EmployeeInf">
        <id property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="salary" column="salary"/>
        <association property="dept" column="deptno" javaType="po.Dept">
            <id property="deptno" column="deptno"/>
            <result property="dname" column="dname"/>
            <result property="loc" column="loc"/>
        </association>

    </resultMap>

    <!--    <parameterMap id="EmployeeParam" type="po.Employee">-->
    <!--        <parameter property="firstName"-->
    <!--    </parameterMap>-->

    <select id="getAllEmployees" resultMap="EmployeeInf">
        SELECT * FROM employee LEFT JOIN dept ON employee.deptno = dept.deptno
    </select>

    <select id="getEmployee" resultMap="EmployeeInf" parameterType="int">
        SELECT * FROM employee LEFT JOIN dept ON employee.deptno=dept.deptno WHERE employee.id = #{id}
    </select>

    <select id="getEmployeeByCondition" resultMap="EmployeeInf">
        SELECT * FROM employee LEFT JOIN dept ON employee.deptno=dept.deptno
        <where>
            <if test="param1!=null">
                AND first_name= #{param1}
            </if>
            <if test="param2!=null">
                AND last_name = #{param2}
            </if>
            <if test="param3!=-1">
                AND salary = #{param3}
            </if>
            <if test="param4!=-1">
                AND employee.deptno = #{param4}
            </if>
        </where>

    </select>

    <insert id="insertEmployee" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="po.Employee">
        INSERT INTO employee (first_name,last_name,salary,deptno)
        VALUES (#{firstName},#{lastName},#{salary},#{dept.deptno})
    </insert>

    <delete id="deleteEmployee" parameterType="int">
        DELETE FROM employee WHERE id = #{id}
    </delete>

    <!--    <update id="updateEmployee" parameterType="map">-->
    <!--        UPDATE employee-->
    <!--        <set>-->
    <!--            <if test="first != null">-->
    <!--                first_name = #{firstName},-->
    <!--            </if>-->
    <!--            <if test="last != null">-->
    <!--                 last_name = #{lastName},-->
    <!--            </if>-->
    <!--            <if test="salary != -1">-->
    <!--                salary = #{salary},-->
    <!--            </if>-->
    <!--            <if test="deptno != -1">-->
    <!--                deptno = #{deptno},-->
    <!--            </if>-->
    <!--        </set>-->
    <!--        WHERE id = #{id}-->
    <!--    </update>-->
    <update id="updateEmployee">
        UPDATE employee
        <set>
            <if test="param2!=null">
                first_name = #{param2},
            </if>
            <if test="param3!=null">
                last_name = #{param3},
            </if>
            <if test="param4!=-1">
                salary = #{param4},
            </if>
            <if test="param5!=-1">
                deptno = #{param5},
            </if>
        </set>
        WHERE id = #{param1}
    </update>


</mapper>