<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.SignDAO">
    <resultMap id="SignOfTeam" type="po.Sign">
        <id property="competition.id" column="id"/>
        <result property="isSign" column="isSign"/>
        <association property="competition" javaType="po.Competition">
            <id property="id" column="id"/>
            <result property="project" column="project"/>
            <result property="sexgroup" column="sexgroup"/>
            <result property="agegroup" column="agegroup"/>
        </association>
    </resultMap>
    <select id="getSignsByTeam" parameterType="int" resultMap="SignOfTeam">
        SELECT c.id,c.project,c.sexgroup,c.agegroup,s.isSign
        FROM sign s
        LEFT JOIN competition c
        ON s.compid=c.id
        WHERE s.teamid=#{teamid}
    </select>
</mapper>