<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.SignDAO">
    <resultMap id="SignOfTeam" type="po.Sign">
        <id property="competition.id" column="id"/>
        <result property="isSign" column="isSign"/>
        <association property="competition" javaType="po.Competition">
            <id property="id" column="id"/>
            <result property="project" column="project"/>
            <result property="sexgroup" column="sexgroup"/>
            <result property="agegroup" column="agegroup"/>
        </association>
    </resultMap>

    <select id="getSignsByTeam" parameterType="int" resultMap="SignOfTeam">
        SELECT c.id,c.project,c.sexgroup,c.agegroup,s.isSign
        FROM sign s
        LEFT JOIN competition c
        ON s.compid=c.id
        WHERE s.teamid=#{teamid}
    </select>

    <select id="getSignByTeamComp" resultType="integer" parameterType="int">
        SELECT id
        FROM sign
        WHERE compid=#{param2}
        AND teamid=#{param1}
    </select>

    <select id="getTeamidsOfComp" parameterType="int" resultType="integer">
        SELECT teamid
        FROM sign
        WHERE compid=#{compid}
    </select>

    <insert id="addSign" parameterType="int" keyProperty="id" keyColumn="id">
        INSERT INTO sign(compid,teamid)
        VALUES (#{param2},#{param1})
    </insert>

</mapper>