<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.TempScoreDAO">
    <resultMap id="AthTempSocre" type="po.TempScore">
        <id property="id" column="tempScore_id"/>
        <result property="score" column="score"/>
        <association property="referee" javaType="po.Referee">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <select id="getAthTempScores" resultMap="AthTempSocre" parameterType="int">
        SELECT r.*,t.id tempScore_id,t.score
        FROM tempscore t
        LEFT JOIN referee r
        ON t.ref_id=r.id
        WHERE t.ath_id = #{param1}
        AND t.comp_id = #{param2}
    </select>

    <insert id="addTempScore" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="po.TempScore">
        INSERT INTO tempscore (ref_id,comp_id,ath_id,score)
        VALUES (#{refid},#{compid},#{athid},#{score})
    </insert>

    <delete id="deleteTempScore">
        DELETE FROM tempscore
        WHERE id = #{tempScoreid}
    </delete>

    <update id="updateTempScore" parameterType="int">
        UPDATE tempscore
        SET valid = #{param2}
        WHERE id = #{param1}
    </update>
</mapper>